# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# irb
.irbrc

# gnome backup files
*~

# test config file
test/test_config.yaml
